---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Welcome to Astro!</title>
  </head>
  <body>
    <h1>Welcome to Astro 🚀</h1>
    <p>This is your new Astro project in the root of your repo.</p>
  </body>
</html>